.shadow__header {
    background-color:#0F243C !important;
    color:white !important;
    font-size:16px !important;
    text-align: center;
}
.shadow__task {
    padding:10px !important;
}
.shadow1 {
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    border:1px solid rgba(238, 238, 238, 0.904);
}
.todo_list__createButton {
    border-radius: 10px;
    display:block ;
    width:100%;
    text-align: left;
    padding:0px;
    font-size:14px;
} 
.todo_list__createButton__dateIcon {
    height:20px;
}
.Showing__TaskList {
    color:black;
    cursor:pointer;
    padding:10px;
}
/* .Showing__TaskList:hover {
  background-color:rgba(7, 3, 44, 0.048);
  border-radius:10px;
} */
.Showing__TaskList__CheckBox,input[type="checkbox"] {
    border-radius:50% !important;
    font-size:30px;
}
.modal-content,.todo_entry{
    width:100%;
    padding-bottom:5px;
    margin-bottom:10px;
    border-radius:10px;
    outline: 10px;
}